{% extends "base.html" %}

{% block content %}
  <article class="md-content__inner md-typeset">
    {# ページタイトル #}
    {% if page.title and not page.is_homepage %}
      <h1>{{ page.title }}</h1>
    {% endif %}

    {# description をタイトル直下に出す #}
    {% if page.meta and page.meta.description %}
      <p class="poc-description">
        {{ page.meta.description }}
      </p>
    {% endif %}

    {{ page.content }}
  </article>
{% endblock content %}

{% block extrahead %}
  {{ super() }}
  <style>
    .poc-description {
      margin-top: -0.5em;
      margin-bottom: 1.5em;
      font-size: 0.95em;
      color: var(--md-default-fg-color--lighter);
      font-style: italic;
    }
  </style>
{% endblock extrahead %}
